{
  "extends": "airbnb",
  "rules": {
    "max-len": 0,
    "no-new": 0,
    "space-before-function-paren": 0,
    "class-methods-use-this": 0,
    "react/no-string-refs": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-dynamic-require": 0,
    "react/require-extension": "off",
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "react/no-danger": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/label-has-for": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "flow-vars/use-flow-type": 1,
    "flow-vars/define-flow-type": 1
  },
  "plugins": ["react", "flowtype", "flow-vars"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  },
  "globals": {
    "dataLayer": true,
    "tracker": true
  }
}